body{
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
.contact_container{
    width: 60%;
    margin: 0 auto;
    padding: 16px;
    background-color: rgb(5, 44, 5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: left;
    color: white;
}
address{
    color: white;
}
h2{
    text-align: center;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    font-weight: bold;
    color: white;
}
input, textarea{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(19, 82, 19);
}
textarea{
    resize: vertical;
    min-height: 100px;
}
button{
    padding: 10px;
    background-color: rgb(19, 82, 19);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: gainsboro;
}
#map_container{
    margin-top: 30px;
    text-align: center;
}
iframe{
    max-width: 100%;
    border-radius: 8px;
}
